.contact-me {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: $pastel-blue;
  color: white;
  .title {
    font-size: 50px;
    font-weight:200;
  }
  .line {
    margin:0 auto;
    width: 100%;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 10px;
  }
  i, a {
    font-size: 50px;
    transition: color 0.5s;
    color: white;
    &:hover {
      color: grey;
    }
  }
  .copyright {
    font-family: 'Fira Sans', sans-serif;
  }
}
