.project-odd {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;

  img {
    flex: 1;
  }

  .website-image {
    margin-right: 5vw;
  }
}

.description {
  max-width: 500px;
}

.morado {
  color: #769BC5;
}

.project-even {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;

  img {
    flex: 1;
  }

  .website-image {
    margin-right: 5vw;
  }
}

.about-text {
  text-align: center;
}

.about-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-container {
  width: 14vw;
  display: flex;
  justify-content: space-between;
}

.project-links {
  display: flex;
  justify-content: space-between;
  width: 18vw;
}

.project-website {
  display: flex;
  align-items: center;
}

.project-github {
  display: flex;
  align-items: center;
}

.app-link {
  margin-left: 8px;
  text-decoration: none;
  color: #769BC5;
  transition: all .2s ease-in-out;

  &:hover {
    text-decoration: none;
    color: #91AFC6;
    transform: scale(1.05);

  }
}

.link-image {
  width: 2vw;
  min-width: 24px;
}

.mobile-link {
  display: none;
}

@media only screen and (max-width: 576px) {
  .project-links {
    width: 65vw;
  }

  .mobile-link {
    display: block;
  }

  .hidden-mobile {
    display: none;
  }

  .link-container {
    width: 40vw;
  }

  .project-even {
    display: flex;
    flex-direction: column;
    align-itmes: center;
    text-align: center;
    margin-bottom: 18px;

  }

  .website-image {
    margin-bottom: 12px;
    width: 100vw;
    overflow: hidden;
    margin-right: 0 !important;
  }

  .project-odd {
    display: flex;
    flex-direction: column;
    align-itmes: center;
    text-align: center;
    margin-bottom: 18px;
  }

  .emitless-description {
    text-align: center;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
