// code to make box same height
.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.is-flex .box {
  background: none;
  position: static;
}
.is-flex [class*="col-"] {
  background: transparent;
}

// styling for education, experience and skills
.education-experience-skills {
  font-family: 'Montserrat', sans-serif;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 100%;
  background-color: $lighter-pastel;
  font-weight:200;
  .line {
    margin:0 auto;
    width: 75px;
    border-bottom: 1px solid #C0C0C0;
    margin-bottom: 10px;
  }
  strong {
    font-weight: 400;
  }
  a {
    color: grey;
  }
  .skill-icons{
    i {
      font-size: 55px;
      margin: 3px;
      line-height: 1.3;
      color: white;
    }
  }
  .box {
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 3px;
    // background: white;
    // color: black;
    background: transparent;
    color: white;

    padding: 15px 15px 15px 15px;
    height: 100%;
    transition: box-shadow 0.5s, background 0.5s, color 0.5s;
    &:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);

      background: $light-pastel;
      color: white;
    }
    img {
      height: 30px;
    }
  }
}
