<div class="navbar">
  <div class="container">
    <div class="my-nav intro">
      <div class="navbar-left">
        <a href="/" class="full-name">
          <strong>Diego Larraz</strong> FSD
        </a>
        <a href="/" class="short-name">
          <strong>DL</strong>FSD
        </a>
      </div>
      <div class="navbar-right">
        <%= link_to "About me", "#about-me", class: "navbar-link about" %>
        <%= link_to "Summary", "#summary", class: "navbar-link about"  %>
        <%= link_to "Projects", "#projects", class: "navbar-link projects" %>
        <%= link_to "Contact", "#contact-me", class: "navbar-link projects"  %>
      </div>
    </div>
  </div>
</div>
