.my-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.short-name, .burger-menu {
  display: none;
}

.navbar-link {
  transition: .3s;
  margin-left: 24px;
  padding-bottom: 8px;

  &:hover {
    text-decoration: none;
    box-shadow: 0px -4px 0px $purple inset;
  }
}

.link-active {
  box-shadow: 0px -4px 0px $purple inset;
}

.burger-dropdown {
  position: absolute;
  width: 100%;
  left: 0;
  background: white;
  height: 0;
  overflow: hidden;
  opacity: 0;
  padding-top: 15px;
  transition: height .5s ease, opacity .5s ease;
  border-bottom: 4px solid $dark-purple;
  z-index: 10;
}

.dropdown-link {
  display: block;
  padding: 15px 0;
  margin-left: 10%;
  box-sizing: border-box;
}

.expand {
  height: 192px;
  opacity: 1;
}

.burger-menu {
  width: 20px;
  height: 20px;
  align-items: center;
  box-shadow:
  0px -2px 0px $dark-purple inset,
  0px 2px 0px $dark-purple inset;
  transition: transform .5s ease, height .5s ease;
  cursor: pointer;
}

.burger-menu-inner {
  width: 20px;
  height: 2px;
  box-shadow: 0px 2px 0px $dark-purple inset;
  transition: transform .5s ease;
}

.rotate-outer {
  transform: rotate(45deg);
  height: 2px;
}

.rotate-inner {
  transform: rotate(90deg);
}


@media(max-width: 992px) {

  .full-name, .navbar-link {
    display: none;
  }

  .short-name {
    display: block;
  }

  .burger-menu {
    display: flex;
  }

  .link-active {
    font-weight: 700;
    box-shadow: none;
  }

  .fa-bars {
    font-size: 1.5rem;
  }
}

