.my-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.short-name, .burger-menu {
  display: none;
}

.navbar-link {
  transition: .3s;
  margin-left: 24px;
  padding-bottom: 8px;
}

.link-active {
  box-shadow: 0px -4px 0px $purple inset;
}

.dropdown-link {
  display: block;
  padding: 15px 0;
  margin-left: 10%;
  box-sizing: border-box;
}

.expand {
  height: 192px;
  opacity: 1;
}

.rotate-outer {
  transform: rotate(45deg);
  height: 2px;
}

.rotate-inner {
  transform: rotate(90deg);
}

// navigation bar styling
.navbar {
  overflow: hidden;
  background-color: rgba(145, 175, 198, 0.9);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1000;
  color: white;
  font-family: 'Fira Sans', sans-serif;
  padding-top: 13px;
  img {
    height: 22px;
  }
  .text {
    margin-top: 13px;
  }
  a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.75s;
    &:hover {
      border-bottom: 3px solid #3FAEFD;
    }
  }
}

.nav-bg {
  background-color:rgba(0, 0, 0, 0.3);
}


@media(max-width: 992px) {

  .full-name, .navbar-link {
    display: none;
  }

  .short-name {
    display: block;
  }

  .burger-menu {
    display: flex;
  }

  .link-active {
    font-weight: 700;
    box-shadow: none;
  }

  .fa-bars {
    font-size: 1.5rem;
  }
}

